
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<form action='Home/Result' method='POST' align="left">
    <label>
        Please enter any integer:<br><br>
        <input name="testvalue" type="text" value="" />
    </label>
    <br />
    <input type="submit" value="Calculate Results" />

</form>
