@model Square.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />

<p>A product of that number and a random number would be: @Model.randomproduct</p>

<br />

<p>@Model.Error</p>